@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif !important;
}

nav{
    padding: 0 !important;
}

.container-fluid{
    background: #f9c23d;
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 9.688rem;
}

.menu_bars{
    font-size: 5rem;
    color: #fff;
}

.button{
    margin-left: 2.5rem;
    border: 0px;
    background: #f9c23d;
}


.button:hover{
    cursor: pointer;
}

.user{
    color: #fff;
    font-size: 5rem;
    margin-right: 2.5rem;
}

.logo{
    position: absolute;
    left: 50%;
    margin-left: -6.5625rem;
    width: 13.125rem;
    height: 13.125rem;
}

.movies{
    margin: 5rem;
}

.btn{
    background-color: #f9c23d;
    color: #212529;
}

.btn, .title, .rating{
    font-size: 2em;
}

.fa-star{
    color: #f9c23d;
}

#artists , .title{
    font-weight: bold;
}

.container{
    margin-left: 10px;
    margin-right: 10px;
}

.card{

    border-width: 5px !important;
    padding: 15px !important;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.description{
    font-size: 2em;
}

.flex-col{
    flex-direction: column;
}

.top, .bot{
    flex: 0 0 30%;
}

.mid{
    flex: 0 0 40%;
    padding-right: 20px;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    font-size: 50px;
    color: #000000;
    text-align: center;
}

#menu_overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f9c23d;
    z-index: 2;
    cursor: pointer;
}

.menu_arrow{
    font-size: 5rem;
    color: rgb(0, 0, 0);
}

.button_close{
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    border: 0px;
    background-color: #f9c23d;
}

.button_close:hover{
    cursor: pointer;
}

    @media screen and (min-width: 600px) {

        .container-fluid{
            height: 5rem;
        }

        .menu_bars{
            font-size: 2.5rem;
        }


        .user{
            font-size: 2.5rem;
        }

        .logo{
            margin-left: -3.25rem;
            width: 6.5rem;
            height: 6.5rem;
        }


        .btn, .title, .rating{
            font-size: 14px;
        }

        .description{
            font-size: 12px ;
        }


        #text{
            font-size: 25px;
        }

        .menu_arrow{
            font-size: 2rem;
        }

        .button_close{
            margin-left: 1.5rem;
            margin-top: 1.5rem;
        }

    }
