@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif !important;
}

nav{
    padding: 0 !important;
}

.container-fluid{
    background: #f9c23d;
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 7rem;
}

.menu_bars{
    font-size: 4rem;
    color: #fff;
}

.button{
    margin-left: 2.5rem;
    border: 0px;
    background: #f9c23d;
}


.button:hover{
    cursor: pointer;
}

.user{
    color: #fff;
    font-size: 4rem;
    margin-right: 2.5rem;
}

.logo{
    position: absolute;
    left: 50%;
    margin-left: -4.5rem;
    width: 9rem;
    height: 9rem;
}

.btn{
    background-color: #f9c23d;
    color: #212529;
}

.fa-star{
    color: #f9c23d;
    font-size: 20px;
}


#text{
    position: absolute;
    top: 25%;
    left: 35%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    color: #000000;
    text-align: center;
}

#menu_overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f9c23d;
    z-index: 2;
    cursor: pointer;
}

.menu_arrow{
    font-size: 5rem;
    color: rgb(0, 0, 0);
}

.button_close{
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    border: 0px;
    background-color: #f9c23d;
}

.button_close:hover{
    cursor: pointer;
}


*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}


img{
    width: 100%;
}

.movie_cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: #eee;
    padding: 0 1.5rem;
    font-size: 12px;
}


.blog-post{
    max-width: 80%;
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    border-radius: .2rem;
}

.blog-post_img{
    min-width: 18rem;
    max-width: 35rem;
    height: 30rem;
}

.blog-post_img img{
    width: 100%;
    height: 100%;
    object-fit:fill;
    display: block;
}

.blog-post_info{
    padding-left: 1.2rem;
    height: 30rem;
}

.blog-post_description{
    max-width: 9rem;
    display: block;
    margin-top: 9rem;

}

.blog-post_title, .btn{
    font-size: 14px;
    font-weight: bold;
}

h2{
    margin: 0 0 2rem ;
}

.btn{
    display: inline-block;
    padding: 1rem 6rem;
    letter-spacing: 1px;
    align-items: flex-end;
}

.btn1{
    margin-top: 10.5rem;
}

.btn2{
    margin-top: 9.5rem;
}
.btn3{
    margin-top: 7.5rem;
}


    @media screen and (max-width: 900px) {

        .container-fluid{
            height: 5rem;
        }

        .menu_bars{
            font-size: 2.5rem;
        }


        .user{
            font-size: 2.5rem;
        }

        .logo{
            margin-left: -3.25rem;
            width: 6.5rem;
            height: 6.5rem;
        }


        .btn, .title, .rating{
            font-size: 14px;
        }

        .description{
            font-size: 12px ;
        }


        #text{
            font-size: 25px;
        }

        .menu_arrow{
            font-size: 2rem;
        }

        .button_close{
            margin-left: 1.5rem;
            margin-top: 1.5rem;
        }

        .btn1{
            margin-top: 9rem;
        }

        .btn2{
            margin-top: 6.5rem;
        }
        .btn3{
            margin-top: 5rem;
        }

    
    }

    @media screen and (max-width: 780px) {
        .btn{
            padding: 1rem 4rem;
        }

    }


/* Animation */

* {
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-2em);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

